ul {
  list-style: none;
  padding: 0px;
}
.item {
  height: 100%;
  color: #61dafb;
  /* width: 530px; */
  margin-left: 30px;
  /* margin: 0 auto; */
  text-align: left;
  padding-bottom: 30px;
  /* border-bottom: 1px solid #000; */
}
.add-item {
  height: 32px;
  outline: none;
  font-size: 20px;
  width: 79%;
  vertical-align: top;
  margin-top: 10px;
}
.btn {
  width: 80px;
  height: 35px;
  margin-left: 10px;
  margin-top: 10px;
}
.listHeader {
  display: inline;
  font-size: 32px;
}
.deleteList {
  display: inline-block;
  margin-left: 20px;
  width: 100px;
  height: 30px;
}
