.list-group-item {
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-around;
}
.done {
  color: red;
  text-decoration: line-through;
  font-size: 28px;
}

.undone {
  color: #61dafb;
  font-size: 28px;
}
.time {
  margin-left: 20px;
}

li {
  padding: 10px 15px;
  background-color: #fff;
}
li:hover {
  background-color: #f5f5f5;
}
.foldBtn {
  margin-left: 5px;
}
